body{ 
    font-family: Helvetica; 
    font-size: 22px; 
    color: seashell;
    background-color: black; 
    opacity: 0.9;
}

header{
    display: flex;
    height: 69px;  
    border-bottom: 1px solid seashell; 
    justify-content:space-between;
    align-items: center;
}

a{
    color: seashell;
}

img {
    height: 50px; 
    width: auto;
    margin-left: 10px;
}

.nav-links{
    list-style: none; 
    display: inline-flex;
}

li {
    padding: 0px 20px; 
}